<div class="tech-btm">
    
    <p>Teknoloji ve yazılım ve diğer bloglar..</p>
    <form  method="post">
        <input type="email" id="txtmail" placeholder="Email" required="" name="Mail">
        <input type="submit" id="btn" value="Abone Ol">
    </form>


    @*Mail Subscribtion*@
    <script type="text/javascript">
            
        $("#btn").click(function(){
            let values={
                Mail:$("#txtmail").val()

            };

            $.ajax({
                type:"post",
                url:"/NewsLetter/SubscribeMail/",
                data:values,
                success:function(func){
                    let result=jQuery.parseJSON(func);
                }
            })
        })

    </script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
</div>
